datasets/linemod/
datasets/ycb/YCB_Video_Dataset
*.zip
*__pycache__
*.swp
experiments/logs/*
*.pyc
lib/knn/knn_pytorch/__pycache__/*
__init__.*
*.pth
YCB_Video_toolbox
./trained_models_bk/linemod/pose_refine_model_current.pth
./trained_models_rnn/linemod/pose_refine_model_43_0.012693874806240285.pth
./trained_models_rnn/linemod/pose_refine_model_current.pth
./trained_models_rnn/linemod/pose_refine_model_64_0.01267313880298334.pth
./trained_models_rnn/linemod/pose_refine_model_92_0.01266939402008945.pth
./trained_models_rnn/linemod/pose_refine_model_106_0.012639777737228384.pth
./trained_models_rnn/linemod/pose_refine_model_20_0.012844506721221423.pth
./trained_models_rnn/linemod/pose_refine_model_24_0.012712481511306453.pth
./trained_models_rnn/linemod/pose_refine_model_21_0.012831996560994603.pth
./trained_models_rnn/linemod/pose_refine_model_58_0.012687007815128855.pth
